body {
    background-color: snow;
    
}
.Jumbotron {
    text-align: center;
    padding: 50px 0 50px 0;     
    margin: 50px 0 3px 0; 
    background-color: #48dbfb;
    color:#222f3e;
   }


.btn-reserva{    
    width: auto;
    }

.tarjetas-articulo { 
display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex: 1 150px;
   margin: 10px 10px 10px 10px;
   
}

.footer {
    margin: 30px 0 30px 0;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 0 10px;
    background-color: #c8d6e5;
    margin-bottom: 0px;
}
  
